<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragementHead:: headTagFragment}"></head>

<body class="sb-nav-fixed">

<nav th:replace="~{fragementNavBars :: topNavFragment}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav th:replace="~{fragementNavBars :: sideNavFragment}"></nav>
    </div>
    <div id="layoutSidenav_content">
        <main style="margin-top: 22px">
            <div class="container-fluid px-4">
                <div class="tab">
                    <ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="tableTabButton" data-bs-toggle="tab"
                                    data-bs-target="#table-tab-pane" type="button" role="tab" aria-controls="form-tab-pane"
                                    aria-selected="true">MRN List</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="formTabButton" data-bs-toggle="tab" data-bs-target="#form-tab-pane"
                                    type="button" role="tab" aria-controls="table-tab-pane" aria-selected="false">New MRN</button>

                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="table-tab-pane" role="tabpanel" aria-labelledby="form-tab"
                         tabindex="0">
                        <!-- Table Area Start -->
                        <div class="row mt-2">
                            <div class="row-cols-md-1"></div>
                            <div class="row-cols-md-10 table-responsive" style="width: 100%;">
                                <!-- Table Start -->
                                <div class="tableDiv">
                                    <table class="table table-hover moduleMainTable" id="tableMaterialReceivedNote">
                                        <thead class="table-active">
                                        <tr>
                                            <th>#</th>
                                            <th>MRN No.</th>
                                            <th>Supplier Name</th>
                                            <th>Received Date</th>
                                            <th>Total Amount</th>
                                            <th>Paid Amount</th>
                                            <th>MRN Status</th>
                                            <th>Modify</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbodyMaterialReceivedNote">

                                        </tbody>
                                    </table>
                                </div>
                                <!-- Table End -->
                            </div>
                            <div class="row-cols-md-1"></div>
                        </div>
                        <!-- Table Area End -->
                    </div>
                    <div class="tab-pane fade" id="form-tab-pane" role="tabpanel" aria-labelledby="table-tab" tabindex="1">
                        <!-- Form Start -->
                        <div class="row mt-2">
                            <div class="cols-md-10">
                                <form onsubmit="return false" id="formMaterialReceivedNote" class="moduleMainForm">
                                    <!-- Auto Generated Material Received Note No, Required lable and Back_Button Start-->
                                    <div class="row mt-1" style="margin-bottom: 8px;">
                                        <div class="d-flex justify-content-between">
                                            <!-- Material Received Note No-->
                                            <div class="col-2">
                                                <label for="inputMRNNo" class="form-label fw-bold">
                                                    MRN No. : <span class="text-danger">*</span>
                                                </label>
                                            </div>
                                            <div class="col-3">
                                                <input type="text" class="form-control"
                                                       placeholder="Auto Generated Material Received Note No." id="inputMRNNo" disabled>
                                            </div>
                                            <!-- Material Received Note No End-->
                                            <div class="col-5"></div>
                                            <div class="col-1 fw-bold">
                                                <span class="required"><span class="text-danger">*</span>Required</span>
                                            </div>
                                            <div class="col-1">
                                                <div id="backButtonDivFormFirst">
                                                    <button type="button" style="width: 100px;" class="btn text-primary btn-lg"
                                                            onclick="backButtonMaterialReceivedNoteForm()">
                                                        <i class="fa-regular fa-rectangle-xmark fa-xl"></i>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- Auto Generated Material Received Note No, Required lable and Back_Button End-->


                                    <div id="formEditable">
                                        <div class="row">
                                            <!-- Form Start -->
                                            <div class="col-6">
                                                <div class="row mt-1 gy-2">
                                                    <div class="justify-content-between">
                                                        <!-- Select Supplier -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="col-4">
                                                                <label for="inputSelectSupplier" class="form-label fw-bold">
                                                                    Supplier Name : <span class="text-danger">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-7">
                                                                <Select type="select" class="form-control"
                                                                        id="inputSelectSupplier" autocomplete="off" >
                                                                </select>
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Supplier is not selected..
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Select Supplier Ends -->
                                                        <!-- Supplier No -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="col-4">
                                                                <label for="inputSupplierNo" class="form-label fw-bold">
                                                                    Supplier No : <span class="text-danger">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-7">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Auto-Filled Supplier No" id="inputSupplierNo"
                                                                       autocomplete="off" disabled>
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Supplier No is not valid..!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Supplier No Ends-->

                                                        <!-- Select Purchase Order -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="col-4">
                                                                <label for="inputPurchaseOrderNo" class="form-label fw-bold">
                                                                    Purchase Order : <span class="text-danger">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-7">
                                                                <Select type="select" class="form-control"
                                                                        id="inputPurchaseOrderNo" autocomplete="off" >
                                                                </select>
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Purchase Order is not selected..
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Select Purchase Order Ends -->

                                                        <!-- Supplier Invoice No -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="col-4">
                                                                <label for="inputSupplierInvoiceNo"
                                                                       class="form-label fw-bold">
                                                                    Supplier Invoice No : <span class="text-danger">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-7">
                                                                <input type="text" class="form-control" id="inputSupplierInvoiceNo"
                                                                       onkeyup="textValidator(this,'^([A-Za-z0-9/.-]{4,20})?$','materialreceivednote','supplier_invoice_no')"
                                                                       placeholder="Enter Supplier Invoice No">
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Please Enter a valid Supplier Invoice No..!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Supplier Invoice No Ends-->

                                                        <!-- Total Bill -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="col-4">
                                                                <label for="inputTotalBill"
                                                                       class="form-label fw-bold">
                                                                    Total Bill : (LKR)<span class="text-danger">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-7">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Auto Generated Total Bill"
                                                                       id="inputTotalBill"
                                                                       autocomplete="off" disabled>
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Total Bill is not valid</div>
                                                            </div>
                                                        </div>
                                                        <!-- Total Bill Ends-->

                                                        <!-- Paid Amount -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="col-4">
                                                                <label for="inputPaidAmount"
                                                                       class="form-label fw-bold">
                                                                    Paid Amount : (LKR) <span class="text-danger">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-7">
                                                                <input type="text" class="form-control"
                                                                       placeholder="MRN Paid Total"
                                                                       id="inputPaidAmount"
                                                                       autocomplete="off" disabled>
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Total amount is not valid</div>
                                                            </div>
                                                        </div>
                                                        <!-- Paid Amount Ends-->

                                                        <!-- Material Received Note Status -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="col-4">
                                                                <label for="inputMRNStatus"
                                                                       class="form-label fw-bold">
                                                                    MRN Status : <span class="text-danger">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-7">
                                                                <Select type="select" class="form-control"
                                                                        id="inputMRNStatus" autocomplete="off"
                                                                        onchange="selectDynamicValidator(this,'materialreceivednote','mrn_status_id')">
                                                                </select>
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Material Received Note Status is not valid..!</div>
                                                            </div>
                                                        </div>
                                                        <!-- Material Received Note Status end-->

                                                        <!-- Material Received Note Description -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="col-4">
                                                                <label for="inputMRNdescription"
                                                                       class="form-label fw-bold">
                                                                    MRN Description : <span class="text-danger">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-7">
                                                        <textarea class="form-control" id="inputMRNdescription"
                                                                  cols="30" rows="2"
                                                                  onkeyup="textValidator(this,'^([A-Za-z0-9\\s\\.]{2,180})+$','materialreceivednote','description')"
                                                                  placeholder="Enter Description"></textarea>
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Please Enter a valid Description..!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Material Received Note Description Ends-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Form Order End -->


                                            <!-- Form Order Inner-Form and Table Start -->
                                            <div class="col-6">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <!-- Material Search By Name -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="row">
                                                                <label for="inputMaterialName" class="form-label fw-bold">
                                                                    Material Name : <span class="text-danger">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="row">
                                                                <Select type="select" class="form-control"
                                                                        id="inputMaterialName" autocomplete="off"
                                                                        onchange="selectDynamicValidator(this,'materialreceivednotehasmaterial','material_id')">
                                                                </select>
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Material is not valid..</div>
                                                            </div>
                                                        </div>
                                                        <!-- Material Search By Name Ends-->
                                                    </div>
                                                    <div class="col-6">
                                                        <!-- Material No Auto Filled -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="row">
                                                                <label for="inputMaterialNo" class="form-label fw-bold">
                                                                    Material No. : <span class="text-danger">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="row">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Auto-Filled Material No." id="inputMaterialNo"
                                                                       autocomplete="off" disabled>
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Material No is not valid..</div>
                                                            </div>
                                                        </div>
                                                        <!-- Material No Auto Filled Ends-->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <!-- Unit Quantity -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="row">
                                                                <label for="inputMaterialUnitQuantity"
                                                                       class="form-label fw-bold">
                                                                    Quantity : <span class="text-danger">*</span>
                                                                    (<span id="unitLabelSpan">Unit</span>)
                                                                </label>
                                                            </div>
                                                            <div class="row d-flex">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Enter Quantity" id="inputMaterialUnitQuantity"
                                                                       disabled autocomplete="off">
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Please Enter a Unit Quantity..!
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!-- Unit Quantity Ends-->
                                                    </div>
                                                    <div class="col-4">
                                                        <!-- Unit Price -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="row">
                                                                <label for="inputMaterialUnitPrice" class="form-label fw-bold">
                                                                    Unit Price : <span class="text-danger">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="row">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Auto-Filled Unit Price"
                                                                       id="inputMaterialUnitPrice" disabled>
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Unit Price is not valid..!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Unit Price Ends-->
                                                    </div>
                                                    <div class="col-4">
                                                        <!-- Line Price -->
                                                        <div class="row formField justify-content-start">
                                                            <div class="row">
                                                                <label for="inputMaterialLinePrice" class="form-label fw-bold">
                                                                    Line Price : <span class="text-danger">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="row">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Auto-Filled Line Price"
                                                                       id="inputMaterialLinePrice" disabled>
                                                                <div class="valid-feedback"></div>
                                                                <div class="invalid-feedback">Line Price is not valid..!
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Line Price Ends-->
                                                    </div>
                                                </div>

                                                <div class="row formField">
                                                    <div class="row">
                                                        <div class="col-12" id="mrnHasMaterialErrorDiv"
                                                             style="color: #dc3545; margin-top: 0.25rem; font-size: 0.875em; display:none;">
                                                            Add Materials Material Received Note..!</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12 text-end">
                                                            <button type="button" id="buttonClearPOrder"
                                                                    class="btn btn-outline-dark me-2"
                                                                    onclick="refreshMRNhasMInnerFormAndTable();">
                                                                <i class="fas fa-trash"></i>
                                                            </button>
                                                            <button type="button" id="buttonAddPOrder"
                                                                    class="btn btn-outline-primary">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div id="tableDivInnerForm">
                                                    <!-- table start -->
                                                    <table id="tableInnerForm" class="table table-hover tableInnerForm"
                                                           style="border-radius: 5px;">
                                                        <thead class="table-active"
                                                               style="background-color: rgb(179, 192, 214);">
                                                        <tr>
                                                            <th> # </th> <!-- # , No , Index  -->
                                                            <th> Mat No </th>
                                                            <th> Material Name </th>
                                                            <th> Unit Price (Rs.) </th>
                                                            <th> Quantity </th>
                                                            <th> Line Price (Rs.) </th>
                                                            <th> Modify </th>
                                                        </tr>
                                                        </thead>

                                                        <tbody id="tbodyInnerFormPOrderMaterial" class="table-body">

                                                        </tbody>
                                                    </table>
                                                    <!-- table send -->
                                                </div>

                                            </div>
                                            <!-- Form Order Inner-Form and Table Ends -->
                                        </div>

                                        <div class="row mt-3">
                                            <div class="col-1">
                                                <button type="reset" id="formRestBtn"
                                                        class=" btn fw-bold btn-reset formClearBtn"
                                                        onclick="ClearMaterialReceivedNoteButtonFunction()">
                                                    Clear
                                                </button>
                                            </div>
                                            <div class="col-9"></div>
                                            <div class="col-2" id="normalLayOutFooterBtns" style="display: flex;">
                                                <div class="col-6">
                                                    <button type="button" id="formUpdateBtn" style="display: none;"
                                                            class=" btn fw-bold btn-update formUpdateBtn">
                                                        Update
                                                    </button>
                                                </div>
                                                <div class="col-6">
                                                    <button type="button" id="formAddBtn" onclick="submitMaterialReceivedNote()"
                                                            class="btn btn-primary fw-bold btn-add formAddBtn">
                                                        Add
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Form End -->
                    </div>

                </div>

                <table style="display: none;">
                    <tbody id="tbodyForBill">

                    </tbody>
                </table>



                <script src="script/commonFunction.js"></script>
                <script src="script/tableCommonFunctions.js"></script>
                <script src="script/validation.js"></script>
                <script src="controllerjs/mrn.js"></script>
                <script src="script/billGenerate.js"></script>
            </div>
        </main>
    </div>
</div>
<script src="script/dashboard.js"></script>
</body>

</html>




